<div id="navbar">
    <nav id="nav">
        <div>
            <button class="webName" id="webName" >NPTEL</button> 
               
                <ul class="pages">
                    <li class="pageLink"><a class="active" href="/" target="_parent" >HOME</a></li>
                    <li class="pageLink"><a href="/createPost" target="_parent">CREATE POST</a></li>
                    <li class="pageLink"><a href="/contactUs" target="_parent">CONTACT US</a></li>
                    <li class="pageLink"><a href="/login" target="_parent">LOGIN</a></li>
                    <li class="pageLink"><a href="/registerPage" target="_parent">REGISTER</a></li>
                </ul>
                <div class="search">
                    <input type="input" name="input" id="searchInput" placeholder="Search...">
                   <!---- <button id="search">SEARCH</button> -->
                 </div>
               
            
        </div>
    </nav>
    </div>