<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nptel Solutions</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    
</head>
<body background="images/img1.jpg" >

    {{>navbar}}  <!-- navbar-->

   <div id="container">
        <div id="posts">
           <div id="post">
            <hr><hr>
               <h1 class="postName"> POST NAME</h1>
               <p class="paragraph">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Phasellus imperdiet, nulla et dictum interdum,
                nisi lorem egestas odio,
                vitae scelerisque enim ligula venenatis dolor.
               </p>
               
                <div id="postControls">
                    <button id="edit">Edit</button>
                    <button id="delete">Delete</button>
                </div>
             </div>  
             <div id="post">
                <hr><hr>
                   <h1 class="postName"> POST NAME</h1>
                   <p class="paragraph">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Phasellus imperdiet, nulla et dictum interdum,
                    nisi lorem egestas odio,
                    vitae scelerisque enim ligula venenatis dolor.
                   </p>
                   
                    <div id="postControls">
                        <button id="edit">Edit</button>
                        <button id="delete">Delete</button>
                    </div>
                 </div>  
                 <div id="post">
                     
                    <hr><hr>
                       <h1 class="postName"> POST NAME</h1>
                       <p class="paragraph">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                        Phasellus imperdiet, nulla et dictum interdum,
                        nisi lorem egestas odio,
                        vitae scelerisque enim ligula venenatis dolor.
                       </p>
                       
                        <div id="postControls">
                            <button id="edit">Edit</button>
                            <button id="delete">Delete</button>
                        </div>
                     </div> 
                    
                     <div id="post">
                        <hr><hr>
                           <h1 class="postName"> POST NAME</h1>
                           <p class="paragraph">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Phasellus imperdiet, nulla et dictum interdum,
                            nisi lorem egestas odio,
                            vitae scelerisque enim ligula venenatis dolor.
                           </p>
                           
                            <div id="postControls">
                                <button id="edit">Edit</button>
                                <button id="delete">Delete</button>
                            </div>
                         </div>  
                         <div id="post">
                            <hr><hr>
                               <h1 class="postName"> POST NAME</h1>
                               <p class="paragraph">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus imperdiet, nulla et dictum interdum,
                                nisi lorem egestas odio,
                                vitae scelerisque enim ligula venenatis dolor.
                               </p>
                               
                                <div id="postControls">
                                    <button id="edit">Edit</button>
                                    <button id="delete">Delete</button>
                                </div>
                             </div>  
                             <div id="post">
                                <hr><hr>
                                   <h1 class="postName"> POST NAME</h1>
                                   <p class="paragraph">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.
                                    Phasellus imperdiet, nulla et dictum interdum,
                                    nisi lorem egestas odio,
                                    vitae scelerisque enim ligula venenatis dolor.
                                   </p>
                                   
                                    <div id="postControls">
                                        <button id="edit">Edit</button>
                                        <button id="delete">Delete</button>
                                    </div>
                                 </div>  
    </div>
     </div>
    </div> 
    {{>footer}} <!--footer -->
   <script src="script/index.js"></script>
    <script src="script/createPost.js"></script>
    <!--<script src="script/createPost_IndexPage.js"></script>-->
</body>
</html>